  <mat-toolbar color="primary" class="header-toolbar" style="background-color: transparent;">
    <span class="header-logo">
      <img src="../../../assets/images/logo.png" alt="organza-hub-logo" (click)="null">
    </span>
    <div class="header-nav desktop-only">
      <a class="menu-btn active-link" mat-button href="/"
        >
        Home
      </a>
      <a class="menu-btn" mat-button href="#about">About</a>
      <a class="menu-btn" mat-button href="#meet-us">Contact</a>
    </div>

    <button mat-icon-button class="mobile-only" [matMenuTriggerFor]="mobileMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #mobileMenu="matMenu">
    <button mat-menu-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</button>
    <button mat-menu-item routerLink="/about" routerLinkActive="active-link">About</button>
    <button mat-menu-item routerLink="/contact-us" routerLinkActive="active-link">Contact</button>
  </mat-menu>
