.task-inputs {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.hour-table-container {
  margin-top: 20px;
}

.snackbar-warning {
  background-color: #ff9800; /* Orange */
  color: #fff;
  font-weight: bold;
}

.big-field {
  width: 280px;
}

.mat-option[disabled] {
  opacity: 0.6;
  font-style: italic;
}

.card-budget {
  border-radius: 25px !important;
  padding: 30px !important;
  margin-top: 16px;
  background-color: #F9F6F4 !important;
}
