
.garment-entry {
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: transparent;
}

.services-section {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

mat-divider {
  margin: 16px 0;
}

.justify {
  justify-content: space-between;
}

.title {
  padding-left: 10px;
  padding-top: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.big-field {
  width: 480px;
}

.field-280 {
  width: 280px;
}

mat-expansion-panel {
  border-radius: 25px !important;
  padding: 30px !important;
  margin-top: 16px !important;
  background-color: #F9F6F4;
}

.card-budget {
  border-radius: 25px !important;
  padding: 30px !important;
  margin-top: 16px;
  background-color: #F9F6F4 !important;
}
