/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #EBE5E3;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
}
