.big-btn{
  color: #444D54;
  background-color: #D5C8DB;
  width: 455px;
  height: 140px;
  font-size: 40px;
  font-family: "Ledger";
  border-radius: 25px;
}

.learn-btn {
  margin-top: 15px;
  width: 256px;
  height: 56px;
  background-color: #F9F6F4;
  border-radius: 25px;
  color: #444D54;
  font-family: "Ledger";
  font-size: 32px;
}
