<section>
  <mat-card style="margin: 50px; background-color: #F9F6F4; border-radius: 20px; min-height: 95%;">
    <app-header></app-header>
    <div class="container">
      <div style="height: 40px;"></div>
      <div class="row">
        <div class="col-6">
          <span style="color: #444D54;">
            <span style="font-size: 96px; line-height: 120px; font-family: Ledger, serif;">
              Budgeting Helper
            </span>
            <br/>
            <span style="font-size: 64px; line-height: 80px; font-family: Ledger, serif;">
              for apparel & accessories<br/>Developers
            </span>
            </span>
        </div>
        <div class="col-6" style="margin-top: 20px; display: flex; justify-content: center;">
          <button class="big-btn" mat-raised-button routerLink="/generate-budged">Make a Budget</button>
        </div>
      </div>
      <div style="height: 140px;"></div>
      <mat-card style="background-color: #EBE5E3; height: 185px; border-radius: 25px;">
        <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
          <span style="margin-top: 40px;">
          <p style="font-size: 24px; font-family: Inter; color: #444D54;">
            Do you need to explore more about the workflow, steps and terms used on the budget?</p>
          </span>
          <button class="learn-btn" mat-raised-button routerLink="/">Learn +</button>
        </div>

      </mat-card>
      <div style="height: 40px;"></div>
    </div>
  </mat-card>
</section>

<section id="about">
  <mat-card style="margin: 50px; background-color: #F9F6F4; border-radius: 25px;">
    <div class="container">
      <div class="row" style="margin-top: 80px; margin-bottom: 80px;">
        <div class="col-6">
          <span style="font-family: Ledger; font-size: 64px; color: #444D54; line-height: 150%;">
            From <br> Developers to<br> Developers
          </span>
        </div>
        <div class="col-6" style="font-family: Instrument Sans; font-size: 22px; line-height: 130%; color: #444D54;">
          <span>
            <b>Organza is a clean, lightweight budgeting tool built by a product developer, for product developers.</b>
          </span>
          <br><br>
          <span>
            We know the struggle. Budgeting can be the least glamorous (and most frustrating) part of apparel and accessories development. Endless spreadsheets, scattered emails, missing cost breakdowns… it's enough to make anyone want to scream into a pile of swatches.
          </span>
          <br><br>
          <span>That’s why Organza exists.</span>
          <br><br>
          <span>Made by someone who's spent too many late nights wrangling numbers and chasing suppliers, Organza is designed to take the chaos out of budgeting. <b>Whether you're estimating costs for two t-shirts and a pair of pants or managing a full seasonal collection, Organza gives you a clear, structured, and stylish space to account for everything</b> (without sacrificing your sanity).</span>
          <br><br>
          <span>No fluff. Just a lightweight, user-friendly interface that feels like it was made by someone who actually gets what you do (because it was).</span>
        </div>
      </div>

    </div>
  </mat-card>
</section>

<div style="height: 40px;"></div>

<section id="us">
  <div class="" style="margin: 50px;">
    <h1>US</h1>
    <mat-card style="background-color: #F9F6F4; border-radius: 25px;">
      one
    </mat-card>
    <div style="height: 40px;"></div>
    <mat-card style="background-color: #F9F6F4; border-radius: 25px;">
      two
    </mat-card>
  </div>
</section>

<div style="height: 40px;"></div>

<section id="contact">
  <mat-card style="margin: 50px; background-color: #E6DFE0; border-radius: 25px;">
    <div class="container">
      <h1>Contact</h1>
    </div>
  </mat-card>
</section>
