.container {
  width: 700px;
  margin: 0 auto;
}

mat-card {
  padding: 16px;
  margin-top: 16px;
}

mat-form-field {
  display: block;
  margin-bottom: 12px;
}

button {
  margin-top: 20px;
}

.form-container-horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-end;
  margin: 20px;
}

.field {
  flex: 1 1 250px;
}

.submit-button {
  height: 56px; /* Aligns with mat-form-field */
}

.summary {
  margin: 20px;
}
