.container {
  width: 700px;
  margin: 0 auto;
}

mat-form-field {
  display: block;
  margin-bottom: 12px;
}

.transparent {
 background-color: transparent !important;
}

button {
  margin-top: 20px;
}

.form-container-horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-end;
  margin: 20px;
}

.field {
  flex: 1 1 250px;
}

.submit-button {
  height: 56px; /* Aligns with mat-form-field */
}

.summary {
  margin: 20px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.big-field {
  min-width: 300px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.card-budget {
  border-radius: 25px !important;
  padding: 30px !important;
  margin-top: 16px;
  background-color: #F9F6F4 !important;
}
